
.slides{
      display: flex;
      justify-content: space-between;
      /* gap: 50px; */
  }
  #services {
    background: #F5F5DC;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 90px;
    /* padding-right: 40px; */
  }
  
  .services-block span {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
  }
  
  .services-block .separator {
    width: 65%;
    /* background-color: yellowgreen; */
    margin: 0;
    font-size: 13px;
    line-height: 22px;
  }
  .s-t{
    width: 65%;
  }
  
  .services-block i {
    font-size: 44px;
    color: #B8860B;
    line-height: 44px;
  }
  
  .services-slider .swiper-pagination {
    margin-top: 30px;
    position: relative;
    padding-right: 90px;
  }
  
  .services-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #b8a07e;
  }
  
  .services-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #D4AF37;
  }
  .services-block{
    width: 300px;
  }
  